
.samfundet-logo

.header-container
  .header-menu

    .menu-button
      Reservasjon
    .menu-button
      = link_to sulten_menu_path do
        Meny

    = link_to sulten_path do
      .lyche-logo
    .menu-button
      Om oss
    .menu-button
      Kontakt
