
.samfundet-logo

.header-container
  .header-menu

    .menu-button
      Reservasjoner
    .menu-button
      Meny

    .lyche-logo
      Lyche

    .menu-button
      Om oss
    .menu-button
      Kontakt
