
.status-box

  .open-hours
    Åpent idag fra 18:00 til 00:00

  .action-container

    =link_to sulten_menu_path do
      .action-button
        Meny
    .action-button-separator
    .action-button
      Reserver Bord