
.status-box

  .open-hours
    %table
      %tr
        %td.title{colspan: 2}
          %b= "Åpningstider"
      %tr
        %td="Hverdager"
        %td="16:00 - 23:00 (restaurant)"
      %tr
        %td="Helger"
        %td="16:00 - 22:00 (restaurant)"
      %tr
        %td=""
        %td="22:00 - 02:00 (spritbar)"
