
.status-box

  .open-hours
    %table
      %tr

      - if @closed.nil?
        %td.title{colspan: 2}
          %b= "Åpningstider"
        %tr
          %td="Hverdager"
          %td="16:00 - 23:00 (restaurant)"
        %tr
          %td="Helger"
          %td="16:00 - 22:00 (restaurant)"
        %tr
          %td=""
          %td="22:00 - 02:00 (spritbar)"
      - else
        %td.title{colspan: 2}
          %b= "Lyche er Stengt"
        %tr
          %td= "Stengt i perioden"
          %td= l(@closed.closed_from, format: :short_date) + " - " + l(@closed.closed_to, format: :short_date)
