- content_for(:container) do
  = render "header_menu"

  .top-padding

  .about-us-container
    .about-us-image

    .about-us-description
      = t("sulten.lyche.about.voluntary")
      %br
      %br
      = t("sulten.lyche.about.vision")
      %br
      %br
      = t("sulten.lyche.about.member_price")
