- content_for(:container) do
  = render "header_menu"
  .top-padding
  .section
    .image-container
      .image.b
    .info-container
      .title
        Lyche er drevet av frivillige
      .description
        Trallala la la la la

  .section
    .image-container
      .image
    .info-container
      .title
        Annet om historie
      .description
        Tralla la la la

  .section
    .image-container
      .image.c
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.

  .section
    .image-container
      .image.b
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.

  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.
