- content_for(:container) do
  = render "header_menu"

  .top-padding

  .about-us-container
    .about-us-image

    .about-us-description
      Lyche er en restaurant og spritbar som drives utelukkende av frivillige
      studenter. Om lag 100 engasjerte amatører jobber som kokker
      og barservitører og gjør sitt beste for at du som gjest skal få en
      hyggelig opplevelse.
      %br
      %br
      I Lyche ønsker vi å legge vekt på mat og drikke av høy
      kvalitet. Dette gjelder både å ha et variert men også godt
      gjennomtenkt utvalg. Vi lager rettene våre med fokus på å lage
      dem fra bunnen av og med lokale råvarer.
      %br
      %br
      I menyen oppgis det to priser på både mat og drikke.
      Den førstnevnte er medlemspris for medlemmer av
      Studentersamfundet. Denne gis ved fremvisning av medlemskap.