- content_for(:container) do
  = render "lyche_front"
  = render "header_menu"
  = render "status_box"
  .section

    .image-container
      .image
    .title
      Lyche har digg mat
    .description
  .section
    .image-container
      .image
    .description
  .section
    .image-container
      .image
    .description
  .section
    .image-container
      .image
    .description
  .section
    .image-container
      .image
    .description

