- content_for(:container) do
  = render "lyche_front"
  = render "header_menu"
  = render "status_box"
  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.

  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.

  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.

  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.

  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.
