- content_for(:container) do
  = render "header_menu"


  .lyche_form_title
    = t("sulten.reservation.form.title")

  .reservation-info
    Beklager, reservasjoner må være minst en dag i forveien. Kom gjerne innom og se om det er plass!
