- content_for(:container) do
  = render "header_menu"


  .lyche_form_title
    = t("sulten.reservation.form.title")

  .reservation-info
    Din reservasjon har blitt registrert. For å avbestille eller endre reservasjonen, vennligst send oss en epost.
