- content_for(:container) do
  = render "header_menu"


  .lyche_form_title
    = t("sulten.reservation.form.title")

  .reservation-info
    Kunne ikke opprette reservasjonen! Vennligst prøv igjen eller send oss en epost for å reservere bord.
