- content_for(:container) do
  = render "header_menu"


  .lyche_form_title
    = t("sulten.reservation.form.title")

  .reservation-info
    Beklager, vi kan ikke ta imot reservasjoner på dagen. Kom gjerne innom og se om det er plass!
