
#lyche_under_construction_image
  #lyche_under_construction_text
    = t("sulten.lyche.reservation.under_construction")
#lyche_back_button
  = link_to root_path do
    #lyche_back_arrow
    = t("sulten.lyche.reservation.back_to_samfundet")
