- content_for :full_container do
  .sulten-container
    .lyche-icon

    .lyche-description
      Bar, kjøkken, vin, mat, behagelig atmosfære, spennende, unikt. På Lyche vil alle kunne finne sin favorittplass uansett om man er mange eller få, skal spise eller drikke, er på date eller for å møte venner. Både på en rolig tirsdag eller festfylt lørdag. Hele uka igjennom tilbys det behagelig bakgrunnsmusikk, gode sofaer, myke stoler i et lokale preget av farger og kontraster, og som er klassisk og moderne på samme tid. På Lyche koser du deg hele uka igjennom.
      %br
      %br
      På fredager og lørdag, fra 22:00 til 02:00, er det 20 års aldersgrense i Lyche grunnet mulighet til å kjøpe sprit i baren. Ellers er det ikke noen aldersgrense i restauranten.

    .reserve-table-button
      Reserver Bord

    .lyche-menu
      .lyche-menu-header
        Meny

      .lyche-menu-category
        .lyche-menu-category-title
          SMÅRETTER

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

      .lyche-menu-category
        .lyche-menu-category-title
          HOVEDRETTER

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg

        .lyche-menu-item
          .lyche-menu-item-title
            LYCHEBRØD
          .lyche-menu-item-price
            19,-/29,-
          .lyche-menu-item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            Inneholder: Gluten (Hvete), sulfitt og egg


    .reserve-table-button
      Reserver Bord