#content.members.control_panel {
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
  }
  .name {
    text-align: center;
    text-transform: uppercase;
    color: $samfundet-medium-grey;
    margin-bottom: 1em;
    font-size: 1.25em;
    @include media($mobile) {
      margin-bottom: 2em;
    }
  }

  #applets {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .applet {

      background-color: rgba($samfundet-light-grey, 0.3);
      text-align: center;
      margin-bottom: 20px;
      margin-top: 2px;
      box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.1);
      border-radius: 4px;
      overflow: hidden;

      border: 1px solid #eee;
      min-height: 300px;

      flex-basis: calc(33.33% - 1em);

      @media only screen and (max-width: 1000px) {
        flex-basis: calc(50% - .5em)
      }
      @media only screen and (max-width: 600px) {
        flex-basis: 100%;
        min-height: 0;
      }

      ul {
        padding-left: 0;
        list-style-type: none;
      }
      .top {
        background: $samfundet-red;
        width: 100%;
        padding: 8px;
      }
      .options {
        padding: 16px;
      }
      h2 {
        text-transform: uppercase;
        margin: 0;
        color: white;
        font-size: 1.25em;
      }
      p {
          margin: 4px 0;
      }
      input[type=text] {
        padding: 8px;
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
      input[type=submit] {
        font-weight: bolder;
        margin: 4px;
        &:hover {
          box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }
      }
      .kilroy {
        background-image: asset-url("kilroy.png");
        background-size: cover;
        background-position: center;
        margin: auto;
        width: 164px;
        height: 72px;
      }
    }
  }
}
