log
tmp/**
*cache*

nbproject
*.idea
*.geany
.project
.settings
.byebug_history

public/assets/
public/javascripts/all.js
public/stylesheets/all.css
public/upload/

docs/diagrams/


### Logs ###
logs
*.log
.log

### Virtual environment ###
.venv
venv
.env

### Django ###
*.sqlite3
local_settings.py
staticroot/
secret_settings.py
mediaroot
__pycache__
.pytest_cache
*.pyc
*.pyo

# Note that heroku is stateless and needs all files

.history

### MacOS ###
.DS_Store

### VisualStudioCode ###
# ignore everything unless explicitly added ('!' prefixed)
.vscode/**/*
!.vscode/settings.emil.json
!.vscode/extensions.json
!.vscode/extensions.recommended.json
!.vscode/launch.json
!.vscode/settings.default.json
!.vscode/settings.suggestions.json
