[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-libsass = "*"
django-guardian = "*"
django-compressor = "*"
django-debug-toolbar = "*"
yapf = "*"
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"
pytest = "*"
pytest-django = "*"
pillow = "*"
pdf2image = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10.5" # from .python-version
