= link_to sulten_admin_menu_index_path, class: "samf-button plain mb-3 block" do
  = t("common.back")

%h1= t('sulten.admin.menu.categories.edit')
= render 'sulten/menu/category_form', menu_category: @menu_category, button_type: t("crud.edit")