.samf-button.plain.mb-3
  = link_to sulten_admin_menu_index_path do
    = t("common.back")
    
%h1= t("sulten.admin.menu.categories.new")

= render 'sulten/menu/category_form', menu_category: @menu_category, button_type: t("crud.create")