.samf-button.plain.mb-3
  = link_to sulten_admin_menu_index_path do
    = t("common.back")
%h1= t("sulten.admin.menu.items.new")
= render 'sulten/menu/item_form', menu_item: @menu_item, button_type: t("crud.create")