.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.3576516%;

  > form {
    flex: 1 1 100%;
    min-width: 0;
  }

  .pages-input {
    display: flow-root;
    width: 100%;

    @media screen and (min-width: 481px) {
      width: 48.82117420%;
    }
  }

  .pages-preview {
    display: none;

    @media screen and (min-width: 481px) {
      display: block;

      width: 48.82117420%;
      margin-right: 0;
    }
  }

  .pages-submition {
    display: flow-root;
    width: 100%;
    margin-right: 0;
  }

  .preview-container {
    height: 500px;
    margin-bottom: 1em;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-transform: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .body {
    .form-content-header {
      font-size: 2em;
      margin: 0.67em 0;
      padding: 0.1em 0.27em;
      border-top: 1px dotted #000;
      border-bottom: 1px dotted #000;
    }

    .form-content-content {

    }
  }

  h1 {
    margin: 0;

    @media screen and (min-width: 769px) {
      padding: 15px 0;
    }
  }
}

fieldset {
  display: block;
  border: none;
  text-transform: none;

  ol {
    list-style-type: none;
    padding-left: 0;
  }

  label {
    display: block;
    margin-top: 1em;
    width: 100%;
  }

  input, textarea {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 100%;
    resize: none;
  }
}
