@import "forms.css.scss";
@import "index.css.scss";
@import "admin.css.scss";
@import "history.css.scss";

.pages {
    table {
        @extend .table-highlight-rows;
    }

    ul, ol {
        > li {
            margin-left: 30px;
        }

        margin-bottom: 20px;
    }

    ul > li {
        list-style: circle;
    }

    ol > li {
        list-style: decimal;
    }
}

.admin-choices {
    @include span-columns(12);
    margin-bottom: 15px;

    ul {
        border-top: 1px dotted rgba(0,0,0,0.3);
        border-bottom: 1px dotted rgba(0,0,0,0.3);
        margin: 0;

        li {
            display: inline-block;
            border-right: 1px dotted rgba(0,0,0,0.3);
            margin: 0;
            padding: 0.6em;

            &:last-child {
                border-right: none;
            }

            a {
                text-transform: capitalize;
            }
        }
    }

    p {
        margin-top: 0;
        font-size: 0.9em;
    }
}

.menu-content {
    a.current {
        font-weight: 500;
    }
    ul {
        overflow-y: hidden;
        opacity: 0.5;
        max-height: 0px;
        @include transition(max-height, 0.7s);
    }
    ul.active {
        opacity: 1;
        max-height: 1500px;
    }
    h1, li.submenu {
        cursor: pointer;

        &::before {
            content: "+";
            color: $samfundet-black;
            margin-right: 5px;
            display: inline-block;
            transition: transform 0.3s;
        }
        &.active::before {
            display: inline-block;
            content: "+";
            color: $samfundet-black;
            margin-right: 5px;
            transition: transform 0.3s;
            transform: rotate(225deg);
        }
    }
    li.submenu {
        color: $samfundet-red;
        font-weight: 400;
        & > ul > li:not(.submenu) {
            font-weight: 200;
        }
    }
    ul > li {
        padding-left: 10px;
        & > a::before {
            content: '| ';
            color: $samfundet-black;
        }
    }
}
