.gdpr_checkbox {
  margin-left: 25.5%;
    label {
      text-align: left !important;
      text-transform: none !important;
      width: 100% !important;
      margin-left: 10px;
    }
    input {
      width: 1em !important;
      margin: 0.16em 0.5em 0 0 !important;
      font-weight: 300 !important;
    }
}

.ntnu_warning {
  color: red;
  font-weight: 600;
  display:none;
}

@media only screen and (max-width: 768px) {
    .gdpr_checkbox {
        margin-left: 0 !important;
    }
}
