$samfundet-red: #A03033;
$samfundet-yellow: #CED649;
$samfundet-purple: #512D44;
//$samfundet-blue: #5F6C9F;
$samfundet-blue: #337ab7;
$samfundet-orange: #E87511;
$samfundet-green: #27ae60;
$samfundet-light-grey: #eeeeee;
$samfundet-medium-grey: #aaa;
$samfundet-grey: #464646;
$samfundet-dark-grey: #333333;
$samfundet-black: #111;
$samfundet-white: white;
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
