.flash {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $samfundet-white;
    margin-bottom: 1em;

    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.05);
    //border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;

    &.error {
        background-color: $samfundet-red;
    }

    &.success {
        background-color: $samfundet-green;
    }

    &.message {
        background-color: $samfundet-purple;
    }

    &.notice {
      background-color: #337ab7;
      border: 1px solid rgb(53, 109, 136);
      a {
        color: orange;
      }
    }

    @include media($mobile){
      border-radius: 0;
    }
}
