// Based on a [blog post by Ryan Fait](http://ryanfait.com/resources/footer-stick-to-bottom-of-page/).
//
// Must be mixed into the top level of your stylesheet.
//
// Footer element must be outside of root wrapper element.
//
// Footer must be a fixed height.

@mixin sticky-footer($footer-height,
    $root-selector: unquote("#sticky-footer-wrapper"),
    $root-footer-selector: unquote("#sticky-footer-wrapper-footer"),
    $footer-selector: unquote("#footer")) {

  html, body {
    height: 100%; }
  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height; } }
  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height; } }

@include sticky-footer(280px);

#footer {
    background-color: $samfundet-black;
    color: #555;
    font-weight: $font-weight-normal;
    font-size: 20px;

    #cookies {
      text-align: center;
      font-size: 15px;
      margin-top: 1rem;
    }

    a {
        text-decoration: none;
        color: #777;

        &:hover { color: #888; }
    }

    #footer-wrapper {
        padding-top: 35px;

        @include outer-container;
      
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        
        #social {
            text-align: right;
            @include span-columns(5);

            li {
              margin: 2px 0;
            }
        }

        img {
            margin-left: 3px;
            width: 24px;
            height: 24px;  
            vertical-align: middle;
        }

        #contact {
            text-align: left;
            @include span-columns(7);

            li {
              margin: 5px 0;
            }
        }

        #contact-editors{
            text-align: center;
            ul {
                margin-bottom: 8px;
            }
        }


        }
}
#footer-separator {
  width: 100%;
  background-color: rgb(230,230,230);
  height: 1px;
  margin-top: 3em;
  margin-bottom: 1em;
}
#sponsors{
  font-size: 20px;
  font-weight: $font-weight-normal;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(150,150,150);
  max-width: 100%;
  overflow-x: hidden;

  @include media($mobile) {
    flex-direction: column;
  }

  #mainsponsor, #partners, #othersponsors{

    padding-left: 1em;
    padding-right: 1em;

    .horizontal-flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .trondheim-kommune-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      margin-left: 20px;
    }

    .trondheim-kommune-icon {
      background-image: asset-url("footer/trondheim_kommune.png");
      background-size: contain;
      height: 38px;
      width: 38px;
      background-repeat: no-repeat;
    }

    .trondheim-kommune-text {
      font-family: Calibri, sans-serif;
      color: black;
      white-space: nowrap;
      text-align: left;
      font-size: 12px;
    }

    .logo, .sponsortext{
      display: block;
      a {
        display: inline-block;

        margin: auto;
        padding: 40px;

        height: 60px;
        width: 120px;

        background-position: center; 
        background-repeat: no-repeat;
        background-size: 120px;

        @media (max-width: 400px) {
          background-size: 100px;
          width: 100px;
          height: 50px;
        }

        &.dnb-icon {
          background-image: asset-url("footer/dnb.png");
        }

        &.isfit-icon {
          background-image: asset-url("footer/isfit.png");
        }

        &.uka-icon {
          background-image: asset-url("footer/uka.png");
        }

        &.kulturrom-icon {
          background-image: asset-url("footer/kulturrom.png");
          background-size: contain;
        }

      }
    }
  }
}

