form:not(.custom-form) {

  h1 {
    background-color: red;
  }

  .image-preview {
    margin-top: .5em;
  }

  p.inline-hints {
    font-size: 1em;
    margin: 0;
    margin-top: .1em;
    color: #888;
  }

  fieldset {

    legend {
      font-size: 1em;
      font-weight: bold;
      padding: .25em;
      width: calc(100% - .4em);
      background-color: $samfundet-blue;
      border-radius: 8px;
      color: white;
      margin-left: .2em;
      margin-right: .2em;
      text-align: center;
    }

    ol {
      padding: .5em;
      padding-bottom: 1em;
      padding-top: 0;

      list-style-type: none;
      padding-left: 0;

      li {
        flex: 1;
        padding-left: .25em;
        padding-right: .25em;

        input[type="text"] {
          padding: .5em;
        }
        textarea {
          padding: .5em;
          min-height: 80px;
        }
        select {
          width: 100%;
        }
        input[type="checkbox"] {

        }
        input[type="number"] {
          padding: .5em;
        }
        input[type="submit"] {
          background-color: $samfundet-green;
          font-weight: bold;
          transition: .2s;
          cursor: pointer;
          max-width: 200px;
          padding-left: 1em;
          padding-right: 1em;
          margin: 0 auto;
        }
        input[type="submit"]:hover {
          transform: translateY(-1px);
          filter: brightness(110%);
          transition: .2s;
        }
        label {
          display: flex;
          flex-direction: row;
          text-align: left;
          font-weight: $font-weight-normal;
          font-size: 1.2em;
          input[type="radio"] {
            border: 0;
            width: 16px;
            height: 16px;
            background-color: $samfundet-blue;
            margin-top: 3px;
            margin-right: 5px;
          }
          label
          label {
            flex: 1;
            text-align: left;
          }
        }

      }

    }
  }

}