$locales-with-opening-hours: 12;
$menu-items-per-column: 3;

h2 {
  color: #a03033;
  margin: 0;
  text-transform: uppercase;
  font-weight: $font-weight-normal;
}

h3 {
  font-size: 25px;
  font-weight: $font-weight-normal;
}

#header {
    margin: 15px 0;

    display: flow-root;
    width: 100%;
    margin-right: 0;

    ul {
        padding-left: 0;
        list-style-type: none;
        text-align: center;

        @media screen and (max-width: 768px) {
            margin: 10px 0;
        }

        @media screen and (min-width: 1025px) {
            display: -ms-flexbox;
            -ms-box-orient: horizontal;

            display: flex;
            flex-flow: row wrap;

            margin: 16px 0;
        }

        li {
            margin: 3px 0;

            @media screen and (min-width: 769px) {
                flex: 1;
            }

            a {
                display: inline;
                text-decoration: none;
                color: #000;

                text-transform: uppercase;
                font-weight: $font-weight-medium;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 4px 0;
                }
                &:hover {
                  color: $samfundet-grey
                }
            }
        }
    }

    .samfundet-icon {
        display: block;

        height: 50px;
        width: 50px;
        margin: 5px auto;

        background-image: asset-url("header/samfundet_128.png");
        background-repeat: no-repeat;
        background-size: 50px;

        @media screen and (min-width: 769px) {
            height: 60px;
            width: 60px;
            background-size: 60px;

            margin: 0 auto;
            background-position: center;
        }
    }

    #dropdown-header {
        display: flow-root;
        width: 100%;
        margin-right: 0;

        .icon-wrapper {
            float: left;
            display: block;
            width: 14.70195700%;
            margin-right: 2.35765160%;
            &:last-child { margin-right: 0; }
            @media screen and (min-width: 769px) { display: none; }
        }

        .dropdown-button-wrapper {
            float: left;
            display: block;
            width: 40.29136990%;
            margin-right: 2.35765160%;
            &:last-child { margin-right: 0; }

            height: 60px;

            display: flex;
            -webkit-align-items: center;
            align-items: center;

            -webkit-justify-content: center;
            justify-content: center;

            @media screen and (min-width: 769px) {
                display: none;
            }

            .dropdown-button {
                font-weight: $font-weight-medium;
                font-size: 1.2em;
                text-transform: uppercase;
                color: $samfundet-black;
            }

        }
    }

    .dropdown-content-wrapper {
        @media screen and (max-width: 768px) {
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.7s;

            &.max-height {
                margin-top: 20px;
            }

            &.opening-hours.max-height {
                max-height: $locales-with-opening-hours * 25px + 115px;
            }

            &.menu-items.max-height {
                max-height: $menu-items-per-column * 25px + 20px;
            }
        }

        display: flow-root;
        width: 100%;
        margin-right: 0;

        & > .icon-wrapper {
            display: none;

            @media screen and (min-width: 769px) {
                float: left;
                display: block;
                width: 14.70195700%;
                margin-right: 2.35765160%;
                &:last-child { margin-right: 0; }
            }
        }

        &.opening-hours {
            @media screen and (min-width: 769px) {
                display: none;
            }

            background-color: white;
            box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.05);
            //border: 1px solid rgb(230, 230, 230);
            border-radius: .25em;


            .hero-section-title {
                text-align: center;
                text-transform: uppercase;
                margin: 0;
            }

            .date-today {
              h2 {
                margin: 0.5em 0px 0px;
                font-size: 1.2em;
                text-align: center;
                text-transform: initial;
                color: $samfundet-medium-grey;
              }
            }

            table {
                margin: 20px auto;

                @media screen and (min-width: 481px) {
                    width: auto;
                    min-width: 250px;
                }

                td {
                    padding: 3px 10px;
                    vertical-align: top;

                    a {
                        @include emph-link($samfundet-red);
                    }
                }
                .time { text-align: right; }
            }

            .opening-hours-link {
              cursor: pointer;
              padding: 5px 12px 5px 10px;
              text-transform: uppercase;
              text-align: center;
              width: max-content;
              margin: 0 auto;
              margin-bottom: 30px;
              color: white;
              background-color: #337ab7;
              box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.05);
              border: 1px solid rgb(230, 230, 230);
              border-radius: .25em;
            }
        }

        .left-list {
            float: left;
            display: block;
            width: 48.82117420%;
            margin-right: 2.35765160%;
            &:last-child { margin-right: 0; }
            ul {
                text-align: center;
            }
            padding-right: 5px;

            @media screen and (min-width: 769px) {
                float: left;
                display: block;
                width: 40.29136990%;
                margin-right: 2.35765160%;
                &:last-child { margin-right: 0; }
            }
        }

        .right-list {
            float: left;
            display: block;
            width: 48.82117420%;
            margin-right: 2.35765160%;
            &:last-child { margin-right: 0; }
            ul { text-align: center; }
            padding-left: 5px;

            @media screen and (min-width: 769px) {
                float: left;
                display: block;
                width: 40.29136990%;
                margin-right: 2.35765160%;
                &:last-child { margin-right: 0; }
            }
            margin-right: 0;
        }
    }

    #sub-nav {
        display: none;

        @media screen and (min-width: 769px) {
            display: flow-root;
            width: 100%;
            margin-right: 0;
        }
    }

  .waggle {
    animation: waggle;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes waggle {
    0% {
      transform: none;
    }
    15% {
      transform: none;
    }
    25% {
      transform: rotateZ(-14deg) scale(1.05);
    }
    30% {
      transform: rotateZ(18deg) scale(1.05);
    }
    33.75% {
      transform: rotateZ(-11deg) scale(1.05);
    }
    37.5% {
      transform: rotateZ(11deg) scale(1.1);
    }
    41.25% {
      transform: rotateZ(-7deg) scale(1.05);
    }
    42.5% {
      transform: rotateZ(-7deg) scale(1.05);
    }
    50% {
      transform: rotateZ(0) scale(1);
    }
    100% {
      transform: rotateZ(0) scale(1);
    }
  }

}

#content {
  display: flow-root;
  width: 100%;
  margin-right: 0;
  @media screen and (min-width: 769px) {
    padding: 1em;
  }
}

.caret-wrapper {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding-top: 1px;

  transition: transform 0.3s;

  &.flip {
    transform: rotate(-180deg);
  }
}

.caret {
  position: relative;
}

.caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  border-top: 10px solid $samfundet-red;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  left: -2px;
  top: 0;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
