#admission-notice {
  text-align: center;
}

.login-form {
  text-align: center;
  display: flow-root;
  width: 100%;

  form {
    input[type=text], input[type=password] {
      padding: 10px;
      font-size: 20px;
      border: 1px solid rgba(0, 0, 0, 0.5);

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    p {
        margin: 16px 0;
    }
  }

  @media screen and (min-width: 481px) {
    &.open-admission {
      float: left;
      display: block;
      width: 48.82117420%;
      margin-right: 2.35765160%;
      &:last-child { margin-right: 0; }

      &.member {
        text-align: right;
        float: left;
        width: 47%;
      }

      &.applicant {
        text-align: left;
        float: right;
        width: 47%;
      }
    }
  }
}
