$border-color: rgba(200, 200, 200, 0.4);
$alternate-cell-color: rgba(200, 200, 200, 0.15);

table:not(.custom-table):not(.ui-datepicker-calendar) {
  width: 100%;
  font-size: 17px;
  font-weight: $font-weight-normal;
  border-collapse: collapse;

  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;



  tr {
    padding: 10px 0;
  }
  th:first-child, td:first-child {
    padding-left: 15px;
  }
  th, td {
    padding: 10px 5px;
    font-weight: $font-weight-normal;
    text-align: left;
    color: #111;

    &:last-child {
      border-right: none;
    }
  }
  thead > tr, tr.category {
    background-color: $samfundet-red;
    td, th {
      font-size: 1.25em;
      color: white;
    }
  }
  tr.category {
    background-color: $samfundet-blue;
  }

  tbody > tr:nth-child(even) {
    background-color: $alternate-cell-color;
  }

}

table.compact:not(.custom-table):not(.ui-datepicker-calendar) {
  font-size: 14px;
  tr {
    padding: 6px 0px;
  }
  th, td {
    padding: 4px 5px;
  }
}
