$font-color: white;

$grey-light:#b4b4b4;

$pink: #ed8989;
$pink-light: #ff7687;
$pink-dark: #e34747;

$red-dark: #4b1e1e;
$red-darker: #412828;
$red-darkest: #372d2d;

$muted: #6c757d;
$dark:#343a40; //Bootstrap dark
$darker: #2d2d2d;
$darker2: #262626;
$darkest: #1f1f1f;

$black: #0d0d0d;
$black-light: #191919;
