
/*
  Samfundet Button
*/

.samf-button {
  cursor: pointer;
  padding: 7px 20px 7px 20px;
  text-transform: uppercase;
  text-align: center;
  width: max-content;
  color: white;
  background-color: $samfundet-red;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.1);
  border-radius: .25em;
  transition: .2s;
  a {
    color: white;
  }
}
.samf-button:hover {
  filter: brightness(120%);
  transform: translateY(-1px);
  transition: .2s;
  box-shadow: 1px 2px 8px 3px rgba(0,0,0,0.1);
}
// Button Variants
.samf-button.small {
  padding: 4px 12px 4px 12px;
  font-size: .9em;
  text-transform: uppercase;
}
.samf-button.blue {
  color: white;
  background-color: #337ab7;
}
.samf-button.green {
  color: white;
  background-color: #4ab74c;
}
.samf-button.white {
  color: black;
  background-color: white;
}
.samf-button.gray {
  color: white;
  background-color: $samfundet-medium-grey;
}
.samf-button.white:hover {
  color: #333;
  background-color: #eee;
  filter: brightness(100%);
}
.samf-button.black {
  color: white;
  background-color: black;
  border: 1px solid #444;
}
.samf-button.plain {
  color: black;
  background-color: transparent;
  border: 1px solid #888;
  box-shadow: none;
  // Reduce padding equivalent to border to match size of other buttons
  padding: 6px 19px 6px 19px;
}
.samf-button.plain.small {
  padding: 3px 11px 3px 11px;
}
.samf-button.plain:hover {
  transform: none;
  color: $samfundet-red;
  border: 1px solid $samfundet-red;
  transition: 0s;
}
