/*
Samfundet containers
 */

.samf-container {
  box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.1);
  border-radius: 0.5em;
}

// container Variants
.samf-container.white {
  background-color: $samfundet-white;
}
.samf-container.red {
  background-color: $samfundet-red;
  color: white;
}
.samf-container.blue {
  background-color: $samfundet-blue;
  color: white;
}