/*
Samfundet containers
 */

.samf-container {
  box-shadow: 2px 2px 15px 4px rgba(0,0,0,0.1);
  border-radius: 0.5em;
}

// container Variants
.samf-container.white {
  background-color: $samfundet-white;
}
.samf-container.red {
  background-color: $samfundet-red;
  color: white;
}
.samf-container.blue {
  background-color: $samfundet-blue;
  color: white;
}
.samf-container.green {
  background-color: $samfundet-green;
  color: white;
}
.samf-container.plain {
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
}

.samf-container.red,
.samf-container.blue,
.samf-container.green {
  h1,h2,h3,h4,h5 {
    color: white;
  }
}

/*
Auto container
*/
.samf-smart-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .auto {
    flex: 1;
    min-height: 100%;
  }
  .full {
    flex-basis: 100%;
  }
  .half {
    flex-basis: 50%;
  }
  .third {
    flex-basis: 33.33%;
  }
  .fourth {
    flex-basis: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  .samf-smart-box {
    flex-direction: column;
    .auto,
    .full,
    .half,
    .third,
    .fourth {
      flex-basis: 100%;
    }
  }
}