.flex {
  display: flex;
  flex-basis: 100%;
}
.flex-25 {
  display: flex;
  flex-basis: 25%;
}
.flex-33 {
  display: flex;
  flex-basis: 33.33%;
}
.flex-50 {
  display: flex;
  flex-basis: 50%;
}
.flex-75 {
  display: flex;
  flex-basis: 75%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row.center, .flex-column.center {
  justify-content: center;
}
.flex-row.end, .flex-column.end {
  justify-content: flex-end;
}
.flex-row.wrap, .flex-column.wrap {
  flex-wrap: wrap;
}
.flex-row.space-around, flex-column.space-around {
  justify-content: space-around;
}
// Justify
.flex-justify-center {
  justify-content: center;
  justify-items: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-end {
  justify-content: flex-end;
  justify-items: flex-end;
}
.flex-justify-stretch {
  justify-content: stretch;
  justify-items: stretch;
}
// Align
.flex-align-center {
  align-content: center;
  align-items: center;
}
