.search-results
  .flex-column.mobile-event
    %h2= t('search.results_title')
    - if @events.present?
      .list-event-view.events-search.flex-column.mt-3
        - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
          %div.mb-3{style: "padding-top: 0;"}
            %h4.pl-3.p-1.title.white.bg-red= l(date, format: :medium_long)
            %table
              %tbody
                = render events.sort_by{|event| event.start_time}

    - else
      %p= t('search.no_results')
