.search-results
  .event-group
    %h3= t('search.results_title')
    - if @events.present?
      - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
        .samf-container.white
          %h2.text-Align.p-1.bg-blue.title.white= l(date, format: :medium_long)
          %table
            %tbody
              = render events.sort_by{|event| event.start_time}
    - else
      %p= t('search.no_results')
