.reservations-closed-message {
  background-color: #E87511;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  box-sizing: border-box;
  padding: 5px;
}
