.top
  %h2
    Crowd funding
.options
  %ul
    %li
      = link_to admin_crowd_funding_supporters_path do
        .samf-button.w100.mb-2.green
          Admin
    %li
      = link_to crowd_funding_supporters_path do
        .samf-button.w100.mb-2.plain
          Show crowdfunding