= javascript_include_tag 'interview_groups/show_applicants', defer: true

- @applicants.each do |applicant|
  .flex-row
    = applicant.full_name.to_s + ", "
    = applicant.top_priority_job_application_at_group(@admission, @group).job.title_no

= render "show_applicants"

//= render_async admissions_admin_admission_group_interview_group_show_applicants_path(interview_group_id: @interview_group) do
//  .samf-container.flex-col.p-3.text-Align.mb-3
//    %h2= t("interviews.loading_title")
//    %p.mb-2{style: "color: #666;"}= t("interviews.loading_description")
//    .loading-indicator.large.center
