.mobile-event{

  .event-div{
    @include media($mobile) {
      border-style: solid;
      border-width: 1px;
      border-radius: 0.5em;
      border-color: $samfundet-red;
    }
    align-items: center;
  }

  .from_to_string{
    min-width: 100px;
  }

  .inline_event_price{
    @include media($mobile-and-tablet-portrait){
      display: none;
    }
  }
}