
.event-div {

  padding: .2em;
  padding-left: 1em;
  padding-right: 1em;

  align-items: center;

  .column {
    flex: 1;
    flex-basis: 33%;
    padding-left: .2em;
    padding-right: .2em;
  }

  .column.button {
    text-align: right;
    flex-basis: 100px;
  }

  .column.timeArea {
    display: flex;
    flex-direction: row;
  }
  .time{
    flex-basis: 50%;
    min-width: 100px;
    color: black;
  }
  .area {
    flex-basis: 50%;
  }
  .inline-price {
    color: gray;
  }


  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  @media only screen and (max-width: 800px) {
    .column.timeArea {
      display: flex;
      flex-direction: column;
    }

  }

  @media only screen and (max-width: 600px) {
    .column.inline-price {
      display: none;
    }
  }

  @media only screen and (max-width: 380px) {
    .column {
      flex-basis: 50%;
    }
    .time, .area {
      text-align: right;
    }
    .column.button {
      display: none;
    }
  }

}

.events-search {

  clear: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
  max-width: 100%;

  .event-search, .upcoming-blog {

    flex-basis: calc(50% - 1em);
    margin-bottom: 2em;

    background-color: white;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230);
    overflow: hidden;

    @include media($mobile-and-tablet-portrait) {
      flex-basis: 100%;
      margin-left: 0;
      margin-right: 0;
      border-radius: 0;
      margin-bottom: .5em;
    }

    .picture {
      width: 100%;
      height: 200px;
      max-height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: .5s;
      overflow: hidden;
      filter: brightness(100%);

      @include media($mobile) {
        height: 150px;
      }
    }

    .picture:hover {
      filter: brightness(105%);
      transform: scale(1.02);
      transition: .5s;
    }

    .locked-border {
      border-style: solid;
      border-width: 10px;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .event-info {

      padding: 1em;

      .what {
        font-weight: lighter;
        font-size: 1em;
        display: flex;
        flex-direction: row;

        .type-area {
          flex: 1;
        }

        .datetime {
          color: rgb(120, 120, 120);
        }
      }

      .title-row {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: .5em;

        .title {
          font-weight: bold;
          font-size: 1.75em;
          flex: 1;
          cursor: pointer;

          a {
            color: black;
          }

          @include media($mobile) {
            font-size: 1em;
          }
        }

        .title:hover {
          text-decoration: underline;
        }

        .purchase-button {
          float: right;
          margin-left: 0.3em;
          margin-bottom: 0.2em;

          a {
            display: inline-block;
          }
        }
      }
    }
  }
  .event-search.small{
    flex-basis: 32%;

    .picture {
      height: 100px;
    }

    .event-info{
      .title{
        font-size: 1.0em;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .event-search.small{
      flex-basis: 47%;
    }
  }

  @media only screen and (max-width: 600px) {
    .event-search.small{
      flex-basis: 99%;
    }
  }

  .upcoming-blog {
    h2, h2 a {
      color: $samfundet-blue;
    }
  }
}

.grid-icon {
  font-size: 48px;
}

.grid-button {
  cursor: pointer;
  padding: 2px 2px 2px 5px;
  text-align: center;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: .25em;
  transition: .2s;
  a {
    color: white;
  }
}

.grid-button:hover {
  filter: brightness(120%);
  transform: translateY(-2px);
  transition: .2s;
  box-shadow: 1px 2px 8px 3px rgba(0,0,0,0.3);
}

