.blogs {
  table {
    td {
      font-size: 15px;
    }
  }

  a {
    color: $samfundet-blue;
  }

  h1, h2, h3, h4, h5, h6 {
    @include emph-link($samfundet-blue);
  }

  .where {
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    margin-bottom: 2px;
  }

  .blogpost {
    @include grid-column(12);

    @include grid-media($tablet-desktop) {
      @include grid-shift(2);
      @include grid-column(8);
      @include omega();
    }

    h1 {
      text-align: center;
      margin-top: 20px;
    }

    p img {
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 180px;
    }

    .metadata {
      text-align: center;
    }
  }

  .blog-preview {
    margin-bottom: 20px;

    @include grid-media($tablet-desktop) {
      @include grid-column(6 of 12);
      @include omega("&:nth-of-type(2n)");
    }

    .picture {
      @include autoscale-picture(180px);
      margin-bottom: 10px;
    }

    h2 {
      margin-top: 0;
      @include emph-link($samfundet-red);
    }

    p {
      margin-top: 0;
    }
  }
}
