.admissions_admin\/jobs.show,
.admissions_admin\/interview_groups.show,
.admissions_admin\/groups.applications,
#async_unprocessed_list {
  table fieldset {
    display: inline;
  }

  table.applications {

    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #aaa;

    thead {
      th {
        background-color: #eee;
        color: black;
        font-weight: normal;
      }
      th.number {
        max-width: 16px;
      }
      th.interview-time {
        width: 120px !important;
      }
      th.location {
        width: 120px !important;
      }
      th.status {
        width: 100px !important;
      }
      th.application-status {
        width: 100px !important;
      }
      th.comment {
        width: 100px !important;
      }
    }
    tbody::after
    {
      content: '';
      display: block;
      height: 15px;
    }
    tbody:last-child:after {
      height: 0px;
    }

    td {
      border-right: 1px solid #cccccc;
    }
  }

  form.interview ol {
    font-size: 0.85em;
    margin-bottom: 0;

    li {
      display: inline !important;
      input[type=text] {
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 !important;
        background-color: white !important;
          box-shadow: none !important;
          -moz-box-shadow: none !important;
          -webkit-box-shadow: none !important;
      }
      textarea {
        resize: vertical !important;
        min-width: 120px;
        min-height: 32px;
        padding: 2px;
      }
      input[type=submit] {
        display: none;
      }
      select {
        margin: 0 !important;
        padding: 0 !important;
      }
      &:after {
        display: none !important;
      } } }

  .hide-withdrawn {
    tr.withdrawn {
      display: none;
    }
  }

  .colorblind{
    tr.this_job {
      color: #FFFFFF !important;
      background-color: #16536A !important;
      a {
        color: #FFFFFF !important;
      }
    }

    tr.this_job_reserved {
      color: #FFFFFF !important;
      background-color: #38758B !important;
      a {
        color: #FFFFFF !important;
      }
    }

    tr.other_job {
      color: #000000 !important;
      background-color: #d65252;
      a {
        color: #000000 !important;
      }
    }

    tr.other_job_reserved {
      color: #000000 !important;

      background-color: #e66a6a;
      a {
        color: #000000 !important;
      }
    }

    tr.withdrawn {
      background-color: lightgrey;
    }
  }
  tr.no_job {
    background-color: #FFF5BC;
  }

  tr.this_job {
    background-color: #81fc62;
  }

  tr.this_job_reserved {
    background-color: #D6FFCC;
  }

  tr.other_job {
    background-color: #FFABA8;
  }

  tr.other_job_reserved {
    background-color: #FFE1E0;
  }

  tr.withdrawn {
    background-color: lightgrey;
  }

  tr.display-none {
    display: none;
  }

  // This overrides hover styles for assigned by jquery-tablesorter. We don't want the background
  // color to change as the color indicates the status of the applicant.
  tr {
    &.no_job,
    &.this_job,
    &.this_job_reserved,
    &.other_job,
    &.other_job_reserved,
    &.withdrawn {
      td {
        background-color: transparent;
      }

      &:hover {
        td {
          background-color: transparent !important;
        }
      }
    }
  }

  span.status {
    width: 100% !important;
    clear: both;
    float: right;
  }

}
