<div class="bg-darker rounded m-2 eulogy-component {% if eulogy.favorited %} border border-pink {% endif %}">
    {% if request.user == eulogy.author or request.user == eulogy.user or perms.eulogy.change_eulogy %}
    <div class="dropdown">
        <a class="text-light float-right m-1 mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="lni lni-menu lni-lg"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
        
            {% if not eulogy.hidden %}
                {% if request.user == eulogy.user or perms.eulogy.change_eulogy %}
                    <form method="POST" action="{% url 'accounts:favorite_eulogy' eulogy.id %}" >
                        {% csrf_token %}
                        <input type="hidden" name="return_url" value="{{request.path}}">
                        {% if eulogy.favorited %}
                            <button class="dropdown-item"><i class="lni lni-heart-filled"></i> Fjern Favoritt</button>
                        {% else %}
                            <button class="dropdown-item"><i class="lni lni-heart"></i> Favoriser</button>
                        {% endif %}
                    </form>
                {% endif %}
            {% endif%}
            {% if request.user == eulogy.user or perms.eulogy.change_eulogy %}
                <form method="POST" action="{% url 'accounts:hide_eulogy' eulogy.id %}" >
                    {% csrf_token %}
                    <input type="hidden" name="return_url" value="{{request.path}}">
                    {% if eulogy.hidden %}
                        <button class="dropdown-item"><i class="lni-eye"></i> Vis</button>
                    {% else %}
                        <button class="dropdown-item"><i class="lni-eye"></i> Skjul</button>
                    {% endif %}
                </form>
            {% endif %}
            {% if request.user == eulogy.author or perms.eulogy.change_eulogy %}
                <button class="dropdown-item eulogy-edit-toggle"><i class="lni-pencil"></i> Endre</button>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="p-0 m-0">
        {% if eulogy.hidden %}
            <div class="p-0 text-muted text-center"><i>Eulogien er skjult</i></div>
        {% endif %}
        <div class="px-3 py-2">
            <div class="eulogy-edit" style="display:none;">
                <form method="POST" action="{% url 'accounts:update_eulogy' eulogy.id %}" >
                    {% csrf_token %}
                    <input type="hidden" name="return_url" value="{{request.path}}">
                    {{ eulogy_form.content }}
                    <button type="submit" name="update_eulogy" class="btn btn-pink btn-block">Oppdater Eulogi</button>
                </form>
            </div>
            <div class="eulogy-content">
                <div class="p mb-0 text-light">{{eulogy.content}}</div>
                <footer class="blockquote-footer text-muted text-right"><cite title="Source Title">{{eulogy.author}}</cite></footer>
            </div>
        </div>
    </div>
</div>
