{% extends 'rekenett/base.html' %}
{% load static %}

{% block title %}Koder{% endblock title %}

{% block head %}
    <style media="screen">
    </style>
{% endblock %}

{% block body %}
    <div class ="container text-center mb-4">
      <div class="display-3">Koder</div>
      <div class="p">Her skal du taste inn koder, for å få tak i rettigheter</div>
    </div>
    <div class ="container px-3">
      <form method="post">
        {% csrf_token %}
        {{form.code}}
        <button class="btn btn-block btn-pink my-2" type="submit">Bruk kode</button>
      </form>
    </div>
    <div class="container">
      <div class="p">Du har rettighetene for: </div>
      {% for group in request.user.groups.all %}
        {{group}}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scriptblock %}
{% endblock %}
