{% extends 'rekenett/base.html' %}
{% load static %}
{% load rekenett_tags %}
{% block title %}Brukerdatabase{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
    <div class="container">
        <div class= "border-bottom border-dark">
           <div class="display-4 m-2">Medlemsdatabase</div>
            <form method="POST" action="">
                {% csrf_token %}

                <div class="row mb-3">
                    <div class="col-sm input-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-dark text-light border-0">{{ form.search.label }}</div>
                            </div>
                            {{ form.search }}
                        </div>
                        <div class="text-danger font-bold">{{ form.search.errors }}</div>
                    </div>
                    <div class="col-sm-auto row justify-content-center">
                        <div class="col text-center">
                            <a class="text-secondary" data-toggle="collapse" href="#extra-filters" role="button" aria-expanded="false" aria-controls="extra-filters">
                                <i class="lni lni-lg lni-funnel p-2"></i>
                            </a>
                        </div>
                        <div class="col m-0">
                            <button type="submit" class="m-0 btn btn-block btn-dark"><i class="lni-lg lni-search"></i></button>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="extra-filters">   
                    <div class="row">
                        <div class="col-lg"> 
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-dark text-light border-0">{{ form.department.label }}</div>
                                </div>
                                {{ form.department }}
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-dark text-light border-0">{{ form.marital.label }}</div>
                                </div>
                                {{ form.marital }}
                            </div>
                        </div>
                        <div class="col-lg"> 
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-dark text-light border-0">{{ form.term_joined.label }}</div>
                                </div>
                                {{ form.term_joined }}
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-dark text-light border-0">{{ form.gender.label }}</div>
                                </div>
                                {{ form.gender }}
                            </div>
                        </div>
                        
                        <div class="col-lg-2">
                            <div class="pretty p-switch p-slim">
                                {{ form.active }}
                                <div class="state p-danger">
                                    <label>{{form.active.label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="m-2">
            <div class="row p-0 m-0 flex-wrap">
                {% for found_user in users %}
                <div class="col-4 zoom-light">
                    <a class="rounded" href="{% url 'accounts:profile' found_user.id %}">
                        <div class="col-xl p-2">
                            <div class="bg-darkest row">
                                <img style="height: 64px;width: 64px;" src="{% profile_picture found_user %}"/>
                                <div class="p-0 px-2">
                                    <div class="lead text-muted m-0">{{found_user.get_full_name}}</div>
                                    <small class="text-pink">{{found_user.get_best_role.title|default:""}}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                    <div class="m-5">
                        <div class="display-3">Ingen medlemmer funnet</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
