{% extends 'rekenett/base.html' %}
{% load static %}
{% load rekenett_tags %}
{% load gallery_tags %}
{% block title %}Sett medlemsroller{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
  <div class="container">
    <div class="mb-3">
      <div class="text-center display-4">Roller og seksjoner</div>
      <div class="text-center text-muted">Sett individuelt seksjoner og roller</div>
      <div class="text-center p-2">
        <a class="px-2" href="{% url 'accounts:member_roles' %}">Endre roller</a>
        {% if perms.departments.can_add_members %}
          <a class="px-2" href="{% url 'rekenett:departments:manage_member_list' %}">Endre seksjoner</a>
        {% endif %}
      </div>
    </div>
    <div class ="bg-darkest p-4">
        <form class="form mb-3" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-dark text-light border-0">{{ form.search.label }}</div>
                </div>
                {{ form.search }}
            </div>
            <div class="text-danger font-bold">{{ form.search.errors }}</div>
        </form>
    </div>

    <div>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col-2">Navn</th>
                <th scope="col-3">Seksjon</th>
                <th scope="col-3">Roller</th>
              </tr>
            </thead>
              <tbody>
              {% for user in users %}
                <tr>
                    <td class="text-white">
                      <div class="row m-0 align-content-center">
                            <img style="height:48px;width: 48px;"src="{% profile_picture user %}"/>
                            <div class="p ml-2">{{user.get_full_name}}</div>
                          </div>
                      </div>
                    </td>
                  <td class="d-flex">
                    {% for dep in user.departments.all %} 
                        {% display_urlpill_component request perms dep %}
                    {% endfor %}
                  </td>
                  <td>
                    {% for role in user.get_all_unique_roles %} 
                      <b>{{role}}</b>
                    {% empty %}
                      Ingen roller
                    {% endfor %}
                  </td>
                  <td>
                  <a href="{% url 'accounts:member_roles_user' user.id %}">Endre</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock scripts %}
