= content_for :admissions_frontpage_highjack do
  = link_to 'https://www.youtube.com/watch?v=dQw4w9WgXcQ', class: 'admissions-frontpage-highjack' do
    = t('site.index.message_frontpage_highjack').html_safe
