= content_for :admissions_frontpage_highjack do
  = link_to 'https://samfundet.no/arrangement/2087-sok-samfundetstyret', class: 'admissions-frontpage-highjack' do
    = t('site.index.message_frontpage_highjack').html_safe
