= content_for :admissions_frontpage_highjack do
  = link_to 'https://no.surveymonkey.com/r/WLQRVGF', class: 'admissions-frontpage-highjack' do
    = t('site.index.message_frontpage_highjack').html_safe
