= content_for :admissions_frontpage_highjack do
  = link_to 'https://www.webcruiter.no/WcMain/advertviewpublic.aspx?oppdragsnr=3716554107&company_id=73606002&Link_source_id=0&use_position_site_header=0', class: 'admissions-frontpage-highjack' do
    = t('site.index.message_frontpage_highjack').html_safe
