-if active_front_page_hijack?
  .front_page_hijack{:style => "background-color: #{@front_page_hijack.background_color}; color: #{@front_page_hijack.text_color}"}
    .front_page_message
      :markdown
        #{@front_page_hijack.message}