
- if can? :manage, FrontPageLock
  .flex-row.center.mb-3
    = link_to new_info_box_path do
      .samf-button.green.mr-3
        = t("info_boxes.new")
    = link_to info_boxes_path do
      .samf-button.mr-3
        = t("info_boxes.all")
