=javascript_include_tag "new_building/faq-dropdown", defer: true


%h1.ml-1.mt-1
  = "FAQ"

.accordion
  = "Section 1"
.panel
  %p Lorem ipsum...

.accordion
  = "Section 2"
.panel
  %p Lorem ipsum...

.accordion
  = "Section 3"
.panel
  %p Lorem ipsum...
