%li.dropdown
  %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
    The dropdown item
    %b.caret
  %ul.dropdown-menu{"role" => "menu"}
    %li
      %a{:href => "#link1"}
        Dropdown #1
      %a{:href => "#link2"}
        Dropdown #2
      %a{:href => "#link3"}
        Dropdown #3
      %a{:href => "#link4"}
        Dropdown #4
  %li