%div#toc_container
  %h1.toc_title= t("new_building.index.table_of_content.title")
  %ul.toc_list
    %li
      %a{:href=>"#about"}
        = t("new_building.index.about.title")
    %li
      %a{:href => "#documents"}
        = t("new_building.index.documents.title")
    %li
      %a{:href => "#history"}
        = t("new_building.index.history.title")
    %li
      %a{:href => "#faq"}
        FAQ
    %li
      %a{:href => "#contact"}
        =t("new_building.index.table.title")
