- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})

.pages-index

  .samf-smart-box.flex-align-center.mt-3

    .half.pr-3.m-3
      = image_tag "new_building/nybygg_kveld.png", alt: "Samfundet", class: "br-2 bxs"

    .auto.flex-column.flex-justify-center
      %div.pl-3
        %h1= t("new_building.index.title")
        %p
          = t("pages.index.description")

