.crowd-funding-grid {
  display: grid;
  grid-template-columns: 70% 30%;

  ul {
    list-style: circle;
  }
  @include media($mobile) {
    grid-template-columns: 100%;
  }
}

.crowd-funding-vipps {
  justify-self: end;
  p {
    font-weight: bold;
  }

  @include media($mobile) {
  justify-self: center;
  }
}

.crowd-funding-comp {
  max-width: 800px;
  border: solid black;
  .supporter {
    margin: 1% 1% 1% 1%;
    display: grid;
    grid-template-columns: minmax(5%, 15%) 78%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .line{
    background-color: $samfundet-red;
    height: 2em;
    display: flex;
    align-items: center;
    .amount {
      margin: 0 0 0 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: none;
    }
  }

  .line:hover {
    .amount {
      display: block;
    }
  }

  .points {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 2px;
    width: 100%;
  }

  .point{
    border-left: 2px solid black;
  }
}
