.info_box{
  margin-bottom: 2em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  overflow: hidden;


  @include media($mobile-and-tablet-portrait) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    margin-bottom: .5em;
  }

  .picture {
    flex-basis: calc(50%);
    width: 100%;
    height: 200px;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    filter: brightness(100%);

    @include media($mobile) {
      height: 150px;
    }
  }

  .picture:hover {
    filter: brightness(105%);
    transform: scale(1.02);
    transition: .5s;
  }

  .locked-border {
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;

  }
  .info_text{
    padding-left: 2em;
    padding-right: 2em;
    max-height: 200px;
    flex-basis: 50%;

    @include media($mobile-and-tablet-portrait) {
      flex-basis: 100%;
    }

    .info_text_title {
      font-weight: bold;
      font-size: 1.75em;
      flex: 1;
      cursor: pointer;

      @include media($mobile-and-tablet-portrait) {
        font-size: 2em;
        margin-top: 1em;
      }
      @include media($mobile) {
        font-size: 2em;
        padding: 1em;
        text-align: center;
      }
    }
    .info_text_title:hover {
      text-decoration: underline;
    }
    .info_text_body{
      font-weight: lighter;
      font-size: 1em;
      max-height: 100px;
      overflow: hidden;

      @include media($mobile) {
        display: none;
      }
    }

  }
}

.info_box.no-link {
  .info_text {
    .info_text_title:hover {
      text-decoration: none;
      cursor: default;
    }
    .info_text_body {
      cursor: default;
    }
  }
  .picture:hover {
    transform: none;
    cursor: default;
  }
}
//info box color variants

.info_box.red {
  background-color: $samfundet-red;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
  .info_text{
    .info_text_title {
      color:$samfundet-white;
    }
    .info_text_body {
      color:$samfundet-white;
    }
  }
}

.info_box.blue {
  background-color: $samfundet-blue;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
  .info_text{
    .info_text_title {
      color:$samfundet-white;
    }
    .info_text_body {
      color:$samfundet-white;
    }
  }
}

.info_box.white {
  background-color: $samfundet-white;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
  .info_text{
    .info_text_title {
      color:$samfundet-black;
    }
    .info_text_body {
      color:$samfundet-black;
    }
  }
}

.info_box.green {
  background-color: $samfundet-green;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
  .info_text{
    .info_text_title {
      color:$samfundet-white;
    }
    .info_text_body {
      color:$samfundet-white;
    }
  }
}

.info_box.black {
  background-color: $samfundet-black;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.05);
  .info_text{
    .info_text_title {
      color:$samfundet-white;
    }
    .info_text_body {
      color:$samfundet-white;
    }
  }
}