// Includes modern sass files
// Uses a system similar to bootstrap to create consistent interfaces through html
// Include this in parent class (eg. body of html) to make these classes available
.modern-design {
  @import "modern/button";
  @import "modern/util";
  @import "modern/flex";
  @import "modern/container";
}

// Offset height of header
#site-header-offset {
  margin-top: 64px;
  width: 100%;

  // Page layout
  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    min-width: 100%;
    min-height: calc(100vh - 200px);
    padding: 12px;

    .side-graphics {
      opacity: 0.2;
      z-index: -1;
      width: 120px;
      min-height: calc(100vh - 200px);
      background: asset-url("header/side_art.png") repeat-y 0 0;
      background-size: contain;
      background-position-y: 0;
      background-position-x: left;
      align-self: stretch;
      transform: translateX(-12px) translateY(-12px);
    }

    .side-graphics.right {
      right: 0;
      left: auto;
      background-position-y: 50vh;
      transform: translateX(12px) translateY(12px) scaleX(-1) ;
    }

    #content {
      flex: 1;
      max-width: 1200px;
      width: 100%;
      padding: .5em;
      padding-top: 1em;
      margin: 0 auto;
      background-color: white;
      @include media($mobile-and-tablet-portrait) {
        padding: 0;
      }
    }

  }
}

// Hide side art for smaller screens
@media only screen and (max-width: 1450px) {
  #container {
    .side-graphics {
      opacity: 0;
      transition: .3s;
      max-width: 0;
    }
  }
}