- require 'csv'

= CSV.generate(headers: true) do |csv|
  - csv << [t('interviews.applicant_name'),
            t('interviews.applicant_phone_number'),
            t('interviews.applicant_email_address')]

  - @applicants.each do |applicant|
    - csv << [applicant.full_name, applicant.phone, applicant.email]
- end.html_safe  # Turn quote into "
