!= render partial: "jobs", locals: { admission: admission }

%div{class:'separate-admission', id:'separate_admission'}
  .samf-container.white.mt-3
    %h2.text-Align.p-1.bg-red.title.white= t('admissions.groups_with_separate_admission')
    :markdown
      #{admission.groups_with_separate_admission}
