!= render partial: "groups", locals: { admission: admission }

!= render partial: "jobs", locals: { admission: admission }

%div{class:'separate-admission', id:'separate_admission'}
  %h3
    = t('admissions.groups_with_separate_admission')
  :markdown
    #{Admission.first.groups_with_separate_admission}
