- set_title t('admissions.index_title')
- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})

- if @open_admissions.empty?
  != render partial: "no_open_admissions", locals: { admissions: @upcoming_admissions }
- else
  - @open_admissions.each do |admission|
    != render partial: "promo", locals: { admission: admission }
  - @open_admissions.each do |admission|
    - cache [I18n.locale, admission] do
      != render(admission)
