.admissions.index {
  .jobandtitle{
    @include media($mobile) {
      border-style: none;
      border-width: 1px;
      border-radius: 2em;
      align-items: center;
    }
  }
  .teaser {
    @include media($mobile) {
      display: none;
    }
  }
}
