//Styles related to the page over unflagged applicants
//Gets automatically included in application.scss file
.display-not-set{
    display:initial !important;
}
.display-reserved{
  display:initial !important;
}
.display-none{
  display:none;
}