@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.front_page_hijack {
  color: #00529B;
  background-color: #BDE5F8;
  width: 100%;
  position: relative;
  padding: 0.750em;
  display: block;
  text-align: center;
}
