.site {
  .countdown-unit {
    background-color: #eee;
    padding: 20px;

    text-align: center;

    margin-bottom: 20px;
    @include grid-media($tablet-desktop) {
      margin-bottom: 0px;
    }

    @include grid-column(12);

    h2 {
      text-transform: uppercase;
      margin-top: 0;
    }

    .time-left {
      font-size: 1.5em;

      div {
        display: inline;
        color: $samfundet-red;
        font-weight: $font-weight-bold;
      }
    }
  }

  .hero-unit {
    background-color: #eee;
    position: relative;
    margin: 0 0 20px 0;

    @include grid-column(12);
    @include grid-media($tablet-desktop) {
      margin-top: 20px;

      &:first-child:after {
        content: "";
        position: absolute;
        top: 23%;
        bottom: 10%;
        left: 50%;
        border-left: 1px solid $samfundet-medium-grey;
      }
    }

    .opening-hours, .events-today {

      @include grid-column(12 of 12);
      @include grid-media($tablet-desktop) {
        @include grid-column(6 of 12);
      }

      h2 {
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
      }

      table {
        margin: 20px auto;
        width: 100%;

        @include grid-media($not-mobile) {
          width: auto;
          min-width: 250px;
        }

        td {
          padding: 3px 5px;
          vertical-align: top;

          @include grid-media($not-mobile) {
            padding: 3px 10px;
          }
        }
      }
    }

    .date-today {
      h2 {
        margin: 0.5em 0 0 0;
        font-size: 1.2em;
        text-align: center;
        text-transform: initial;
        color: $samfundet-medium-grey;
      }
    }

    .opening-hours {
      display: none;

      .everything-closed {
        margin-left: 10px;
        padding-bottom: 10px;
      }

      @include grid-media($tablet-desktop) {
        display: block;
      }

      .time { text-align: right; }
      .area { 
        @include emph-link($samfundet-red);
        font-weight: $font-weight-medium;
      }
      .date-today {
        @include grid-media($tablet-desktop) {
          display: none;
        }
      }
    }

    .events-today {
      .title {
        word-break: break-word;
        a {
          @include emph-link($samfundet-red);
          font-weight: $font-weight-medium;
        }
      }
      .area { text-transform: uppercase; }
      .no-events {
        text-align: center;
        margin: 1em;
      }
    }
  }
}
