@import "_admissions_frontpage_highjack";
@import "_hero_unit";
@import "_upcoming_events";
@import "_banner";
@import "_mailing_list";


.show-more-events {
  text-align: center;
  font-weight: $font-weight-normal;
  text-transform: uppercase;

  display: block;
  width: 500px;
  max-width: 100%;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  background-color: $samfundet-red;
  color: white;
  border-radius: 30px;

  margin: 0 auto;
  margin-bottom: 80px;

}


.show-more-events:hover {
  color: #aaa;
}
