.anchor-applet#merch-applet
.top
  %h2
    Merch
.options
  %ul
    %li
      = link_to admin_products_path do
        .samf-button.plain.w100.mb-2
          = t("product.admin.admin_page")
    %li
      = link_to admin_orders_path do
        .samf-button.plain.w100.mb-2
          Administerer bestillinger