=javascript_include_tag "product/disable-form", defer: true

.samf-button.red.small.mb-3
  = link_to admin_products_path do
    = t("formtastic.cancel")

%h2 Create
= render "form", product: @product, button_type: t("crud.edit")