%h1 Merch
.products-list
  - @products.each do |product|
    .product
      =product.name
      = image_tag path_to_image(product.image_or_default)
      = number_to_currency(product.price, strip_insignificant_zeros: true)

- if can? :manage, Product
  .samf-button.small.mt-3
    = link_to admin_products_path do
      = t("crowd_funding.admin.admin")
      