@import "admin";

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, max(300px));
  gap: 1rem;
  justify-content: center;

  .product {
    padding: 1rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.05);
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 5%;
      margin-bottom: 5%;
    }

    .variations {
      display: flex;
      gap: 1rem;
      align-items: center;

      button {
        background-color: transparent;
        cursor: pointer;
      }

      .selected {
        padding: 5px;
        background-color: #fff2f0;
        border-radius: 0.5rem;
        border: solid 1px #ffcfca;
      }
    }

    .few-left {
      padding: 5px;
      background-color: #fffbe6;
      border-radius: 0.5rem;
      border: solid 1px #ffe99e;
    }
    .sold-out {
      padding: 5px;
      background-color: #fff2f0;
      border-radius: 0.5rem;
      border: solid 1px #ffcfca;
    }
  }
}